<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "HeaderLinks.html" %}
</head>
<body>
{% include "navbar.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th><a href="/list/0" class="text-info">№</a></th>
                    <th><a href="/list/1/" class="text-info">IP</a></th>
                    <th><a href="/list/2" class="text-info">PC Name</a></th>
                    <th><a href="/list/3" class="text-info">Username</a></th>
                    <th><a href="/list/4" class="text-info">Windows ver.</a></th>
                    <th><a href="/list/5" class="text-info">Windows install date</a></th>
                    <th><a href="/list/6" class="text-info">ОЗУ</a></th>
                    <th class="text-info">Процессор</th>
                </tr>
                </thead>
                <tbody>
                {% for item in PCs %}
                    <tr {% if item.0 in selected %}class="bg-info" {% endif %}>
                        <div>

                            <th scope="row">{{ item.0 }}</th>
                            <td>{{ item.1 }}</td>
                            <td>{{ item.2 }}</td>
                            <td>{{ item.3 }}</td>
                            <td>{{ item.4 }}</td>
                            <td>{{ item.5 }}</td>
                            <td>{{ item.6 }} Mb</td>
                            <td>{{ item.7 }}</td>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-block">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                {% endfor %}
                <script>
                    $('.collapse').collapse()
                </script>
            </table>

        </div>
    </div>
</div>
{#end of container#}
</body>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</html>